@import 'config';
@import 'animations';
@import 'basic';
// Small screen
@media only screen and (min-width: 368px){
    .container{
        justify-content: center;
        gap: 3rem;
       .text-element{
            .hi-text{
                font-size: 5.5rem;
            }
            .intro-text-cont{
                .intro-text{
                    font-size: 3rem;
                }
            }
        }
        .ball-container{
            .ball{
                height: 250px;
                width: 250px;
            }
            .shadow{
                height: 45px;
                width: 200px;
            }
        }
    }
}
// Tablet
@media only screen and (min-width: 768px){
    .container{
        .text-element{
            .hi-text{
                font-size: 8rem;
            }
            .intro-text-cont{
                .intro-text{
                    font-size: 5rem;
                }
            }
        }
        .ball-container{
            .ball{
                height: 350px;
                width: 350px;
            }
            .shadow{
                height: 55px;
                width: 300px;
            }
        }
    }
}
// Large Screen
@media only screen and (min-width:1024px){
    .container{
        flex-direction: row;
        justify-content: space-between;
        .text-element{
            text-align: left;
           .hi-text{
                align-self: flex-start;
                font-size: 6rem; 
            }
            .intro-text-cont{
                .intro-text{
                    margin: 0;
                    font-size: 4.5rem;
                    line-height: 1.3em;
                }
            }
        }
        .ball-container{
            .ball{
                height: 300px;
                width: 300px;
            }
            .shadow{
                height: 55px;
                width: 250px;
            }
        }
    }
}
// Extra Large Screen
@media only screen and (min-width:1200px){
    .container{
        .text-element{
           .hi-text{
                align-self: flex-start;
                font-size: 8rem; 
            }
            .intro-text-cont{
                .intro-text{
                    margin: 0;
                    font-size: 5rem;
                    line-height: 1.3em;
                }
            }
        }
        .ball-container{
            .ball{
                height: 400px;
                width: 400px;
            }
            .shadow{
                height: 55px;
                width: 350px;
            }
        }
    }
}